-i https://pypi.python.org/simple
aiohttp==3.9.1 ; python_version >= '3.8'
aiosignal==1.3.1 ; python_version >= '3.7'
annotated-types==0.6.0 ; python_version >= '3.8'
ape-solidity==0.6.11 ; python_version >= '3.8' and python_version < '4'
appdirs==1.4.4
asttokens==2.4.1
attrs==23.1.0 ; python_version >= '3.7'
autobahn==23.6.2 ; python_version >= '3.9'
automat==22.10.0
base58==1.0.3
bitarray==2.9.0
blinker==1.7.0 ; python_version >= '3.8'
bytestring-splitter==2.4.1
cached-property==1.5.2
certifi==2023.11.17 ; python_version >= '3.6'
cffi==1.16.0 ; python_version >= '3.8'
cfgv==3.4.0 ; python_version >= '3.8'
charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'
click==8.1.7 ; python_version >= '3.7'
colorama==0.4.6 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
commonmark==0.9.1
constant-sorrow==0.1.0a9 ; python_version >= '3'
constantly==23.10.4 ; python_version >= '3.8'
coverage[toml]==7.3.4
cryptography==41.0.7 ; python_version >= '3.7'
cytoolz==0.12.2 ; python_version >= '3.6'
dataclassy==0.11.1 ; python_version >= '3.6'
dateparser==1.2.0 ; python_version >= '3.7'
decorator==5.1.1 ; python_version >= '3.5'
deprecated==1.2.14 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
distlib==0.3.8
eip712==0.2.2 ; python_version >= '3.8' and python_version < '4'
eth-abi==4.2.1 ; python_full_version >= '3.7.2' and python_version < '4'
eth-account==0.8.0 ; python_version >= '3.6' and python_version < '4'
eth-ape==0.6.27 ; python_version >= '3.8' and python_version < '4'
eth-bloom==3.0.0 ; python_version >= '3.8' and python_version < '4'
eth-hash[pycryptodome]==0.5.2 ; python_version >= '3.7' and python_version < '4'
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-pydantic-types==0.1.0a5 ; python_version >= '3.8' and python_version < '4'
eth-rlp==0.3.0 ; python_version >= '3.7' and python_version < '4'
eth-tester==0.9.1b1 ; python_full_version >= '3.6.8' and python_version < '4'
eth-typing==3.5.2 ; python_full_version >= '3.7.2' and python_version < '4'
eth-utils==2.3.1 ; python_version >= '3.7' and python_version < '4'
ethpm-types==0.5.11 ; python_version >= '3.8' and python_version < '4'
evm-trace==0.1.2 ; python_version >= '3.8' and python_version < '4'
executing==2.0.1 ; python_version >= '3.5'
filelock==3.13.1 ; python_version >= '3.8'
flask==3.0.0 ; python_version >= '3.8'
frozenlist==1.4.1 ; python_version >= '3.8'
greenlet==3.0.2 ; python_version >= '3.7'
hendrix==4.0.0
hexbytes==0.3.1 ; python_version >= '3.7' and python_version < '4'
humanize==4.9.0 ; python_version >= '3.8'
hyperlink==21.0.0
identify==2.5.33 ; python_version >= '3.8'
idna==3.6 ; python_version >= '3.5'
ijson==3.2.3
importlib-metadata==7.0.0 ; python_version >= '3.8'
incremental==22.10.0
iniconfig==2.0.0 ; python_version >= '3.7'
ipython==8.18.1 ; python_version >= '3.9'
itsdangerous==2.1.2 ; python_version >= '3.7'
jedi==0.19.1 ; python_version >= '3.6'
jinja2==3.1.2 ; python_version >= '3.7'
jsonschema==4.20.0 ; python_version >= '3.8'
jsonschema-specifications==2023.11.2 ; python_version >= '3.8'
lazyasd==0.1.4
lru-dict==1.2.0
mako==1.3.0 ; python_version >= '3.8'
markupsafe==2.1.3 ; python_version >= '3.7'
marshmallow==3.20.1 ; python_version >= '3.8'
matplotlib-inline==0.1.6 ; python_version >= '3.5'
maya==0.6.1
mnemonic==0.20 ; python_version >= '3.5'
morphys==1.0
msgpack==1.0.7 ; python_version >= '3.8'
msgpack-python==0.5.6
msgspec==0.18.5 ; python_version >= '3.8'
multidict==6.0.4 ; python_version >= '3.7'
mypy-extensions==1.0.0 ; python_version >= '3.5'
nodeenv==1.8.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
git+https://github.com/nucypher/nucypher.git@c0a59d48d7412697b75ce3ddf20b66f44e0caa93#egg=nucypher
nucypher-core==0.13.0
numpy==1.26.2 ; python_version >= '3.9'
packaging==23.2 ; python_version >= '3.7'
pandas==1.5.3 ; python_version >= '3.8'
parsimonious==0.9.0
parso==0.8.3 ; python_version >= '3.6'
pendulum==3.0.0 ; python_version >= '3.8'
pexpect==4.9.0
platformdirs==4.1.0 ; python_version >= '3.8'
pluggy==1.3.0 ; python_version >= '3.8'
pre-commit==3.6.0
prometheus-client==0.19.0 ; python_version >= '3.8'
prompt-toolkit==3.0.43 ; python_full_version >= '3.7.0'
protobuf==4.25.1 ; python_version >= '3.8'
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
py-cid==0.3.0
py-ecc==6.0.0 ; python_version >= '3.6' and python_version < '4'
py-evm==0.7.0a4
py-geth==3.13.0 ; python_version >= '3.7' and python_version < '4'
py-multibase==1.0.3
py-multicodec==0.2.1
py-multihash==0.2.3
py-solc-x==2.0.2 ; python_version >= '3.8' and python_version < '4'
pyasn1==0.5.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pychalk==2.0.1
pycparser==2.21
pycryptodome==3.19.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pydantic==2.5.2 ; python_version >= '3.7'
pydantic-core==2.14.5 ; python_version >= '3.7'
pyethash==0.1.27
pygithub==1.59.1 ; python_version >= '3.7'
pygments==2.17.2 ; python_version >= '3.7'
pyjwt[crypto]==2.8.0 ; python_version >= '3.7'
pynacl==1.5.0 ; python_version >= '3.6'
pyopenssl==23.3.0 ; python_version >= '3.7'
pytest==6.2.5
pytest-cov==4.1.0
pytest-mock==3.12.0
pytest-timeout==2.2.0 ; python_version >= '3.7'
pytest-twisted==1.14.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
python-baseconv==1.2.2
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pytz==2023.3.post1
pyunormalize==15.1.0 ; python_version >= '3.6'
pyyaml==6.0.1 ; python_version >= '3.6'
referencing==0.32.0 ; python_version >= '3.8'
regex==2023.10.3 ; python_version >= '3.7'
requests==2.31.0 ; python_version >= '3.7'
rich==12.6.0 ; python_full_version >= '3.6.3' and python_full_version < '4.0.0'
rlp==3.0.0
rpds-py==0.15.2 ; python_version >= '3.8'
safe-pysha3==1.0.4
semantic-version==2.10.0 ; python_version >= '2.7'
sentry-sdk==1.39.2
service-identity==23.1.0 ; python_version >= '3.8'
setuptools==69.0.2 ; python_version >= '3.8'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
snaptime==0.2.4
sortedcontainers==2.4.0
sqlalchemy==2.0.23 ; python_version >= '3.7'
stack-data==0.6.3
tabulate==0.9.0 ; python_version >= '3.7'
time-machine==2.13.0 ; python_version >= '3.8'
toml==0.10.2 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2'
toolz==0.12.0 ; python_version >= '3.5'
tqdm==4.66.1 ; python_version >= '3.7'
traitlets==5.14.0 ; python_version >= '3.8'
trie==2.2.0 ; python_version >= '3.7' and python_version < '4'
twisted==23.10.0 ; python_full_version >= '3.8.0'
txaio==23.1.1 ; python_version >= '3.7'
typing-extensions==4.9.0 ; python_version >= '3.8'
tzdata==2023.3 ; python_version >= '2'
tzlocal==5.2 ; python_version >= '3.8'
urllib3==1.26.18 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
varint==1.0.2
virtualenv==20.25.0 ; python_version >= '3.7'
watchdog==3.0.0 ; python_version >= '3.7'
wcwidth==0.2.12
web3==6.13.0 ; python_full_version >= '3.7.2'
websockets==12.0 ; python_version >= '3.8'
werkzeug==3.0.1 ; python_version >= '3.8'
wrapt==1.16.0 ; python_version >= '3.6'
yarl==1.9.4 ; python_version >= '3.7'
zipp==3.17.0 ; python_version >= '3.8'
zope-interface==6.1 ; python_version >= '3.7'
