[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
nucypher = "*"
flask-htpasswd = "*"
flask-cors = "*"

[dev-packages]
pytest = "<7"
pytest-cov = "*"
pytest-mock = "*"
# Tools
pre-commit = "2.12.1"
pyflakes = "*"
mypy = "*"
coverage = "*"

[pipenv]
allow_prereleases = true
