[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
nucypher = {git = "https://github.com/nucypher/nucypher.git", ref = "development"}
flask-cors = "*"

[dev-packages]
nucypher = {git = "https://github.com/nucypher/nucypher.git", editable = true, ref = "development", extras = ["dev"]}  # needed for testerchain, and must be editable
pytest = "<7"  # match with nucypher/nucypher
pytest-cov = "*"
pytest-mock = "*"
# Tools
pre-commit = "2.12.1"
coverage = "<=6.5.0"


[pipenv]
allow_prereleases = true

[scripts]
nucypher-porter = "python3 porter/cli/main.py"
