[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
nucypher = {git = "https://github.com/nucypher/nucypher.git", ref = "development"}
flask-cors = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
# Tools
pre-commit = "2.12.1"
pyflakes = "*"
mypy = "*"
coverage = "*"

[pipenv]
allow_prereleases = true

[scripts]
nucypher-porter = "python3 porter/cli/main.py"
